
:root{
    --tb-header: #3161e0;
    --tb-light: white ;
    --tb-dark: #23272a;
    --tb-card-lightgrey: #f6f6f6;
}




/* #region---general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* #endregion---general */


/* #region---utilities */
.w_65{
    width: 65%;
    margin: auto;
}

.b_solid{
    border: 2px solid black;
}

.b_dashed{
    border: 2px dashed black;
}

.m_lr{
    margin: 0 0.5rem;
}

.pt_1r{
    padding-top: 1rem;
}
.d_flex{
    display: flex;
}
.pd_1rem{
    padding: 1rem;
}
/* #endregion*/



/* #region---header */
header{
    background-color: var(--tb-header);
    height: 4rem;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.menu{
    justify-content: space-between;
    height: 2rem;
}

.logo{
    flex-grow: 1;
    text-align: left;
}

.link span{
    padding: 0 0.6rem;
}
.link{
    flex-grow: 3;
    text-align: center;
    align-self: center;
}

#accedi_butt{
    background-color: white;
    border-radius: 1rem;
    padding: 0.6rem;
    color: black;
}
.login{
    flex-grow: 1;
    text-align: right;
}

div>div>span{
    line-height: 2rem;
}
/* #endregion*/


/* #region---main */

/* #region---main section */
.main_section{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    color: var(--tb-light);
    text-align: center;
    width: 50%;
    aspect-ratio: 5/2;
}
.main_container h1{
    font-size: 3rem;
    font-weight:800;
    padding-bottom: 3.5rem;
}
.main_container p{
    padding: 0 2rem;
    line-height: 1.8rem;
    font-size: 1rem;
    font-weight:500;
    padding-bottom: 2rem;
}
.buttons{
    text-align: center;
}
.buttons span{
    font-weight: 700;
    border-radius: 2rem;
    padding:1rem 1.8rem;
    margin: 1rem;
    border: solid var(--tb-dark) 1px;
}
.buttons #scarica{
    background-color: var(--tb-light);
    color: var(--tb-dark);
}
.buttons #apri{
    background-color: var(--tb-dark);
    color: var(--tb-light);
}

/* #endregion */

/* #region---secondary sections */
.s_section{
    background-color:var(--tb-light);
    height: 38rem;
}
.s_all_contain{
    justify-content: space-between;
    align-items: center;
}
.img_cont{
    height: 25rem;   
}
.s_img{
    width: 35rem;
    aspect-ratio: 1/1;
    margin-top: -7.6rem;
    margin-left: -2rem;
}
.txt_cont{
    width: 20rem; 
    height: 25rem;    
}
.txt_cont h2{
    font-size: 2.5rem;
    font-weight:800;
    padding-bottom: 2.5rem;
}
.txt_cont p{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight:600;
}
/* #endregion */

/* #region---PLACE section */
/* #endregion */

/* #region---MEET section */
#meet_section .s_all_contain {
    flex-direction: row-reverse;
}
#meet_section{
    background-color:var(--tb-card-lightgrey);
}
/* #endregion */

/* #region---FANDOM section */
/* #endregion */

/* #region---last section */
.last_section{
    background-color: coral;
    height: 50rem;
    justify-content: center;
    align-items: center;
}
.last_container{
    width: 65%;
    height: 45rem;
    background-color: aqua;
}
/* #endregion */

/* #endregion---main */


/* #region---footer */

footer{
    height: 36rem;
    background-color: violet;
    flex-direction: column;
}

.top_footer{
    flex-grow: 2;
}

.bot_footer{
    border-top: 1px solid white;
    height: 6rem; 
    align-content: flex-end;
}

#container{
    margin-top: 0.8rem;
}
.col{
    flex-grow: 1;
    height: 26rem;
    background-color: lightskyblue;
}
#main_column{
    width: 15%;
    background-color: blueviolet;
}

#logo_bottone{
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}

.logo_footer, .bottone_footer{
    width: 4rem;
    height: 1.5rem;
    background-color: aquamarine;
}







/* #endregion*/




