
:root{
    --tb-header: #3161e0;
    --tb-light: white ;
    --tb-dark: #23272a;
    --tb-card-lightgrey: #f6f6f6;
    --tb-txt-violet: #8ea1e1;
}




/* #region---general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* #endregion---general */


/* #region---utilities */
.w_65{
    width: 65%;
    margin: auto;
}

.b_solid{
    border: 2px solid black;
}

.b_dashed{
    border: 2px dashed black;
}

.m_lr{
    margin: 0 0.5rem;
}

.pt_1r{
    padding-top: 1rem;
}
.d_flex{
    display: flex;
}
.pd_1rem{
    padding: 1rem;
}

/* #endregion*/



/* #region---header */
header{
    background-color: var(--tb-header);
    height: 4rem;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}

.menu{
    justify-content: space-between;
    height: 2rem;
}

.logo{
    flex-grow: 1;
    text-align: left;
}

.link span{
    padding: 0 0.6rem;
}
.link{
    flex-grow: 3;
    text-align: center;
    align-self: center;
}

#accedi_butt{
    background-color: white;
    border-radius: 1rem;
    padding: 0.6rem;
    color: black;
}
.login{
    flex-grow: 1;
    text-align: right;
}

div>div>span{
    line-height: 2rem;
}
/* #endregion*/


/* #region---main */

/* #region---main section */
.main_section{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    color: var(--tb-light);
    text-align: center;
    width: 50%;
    aspect-ratio: 5/2;
}
.main_container h1{
    font-size: 3rem;
    font-weight:800;
    padding-bottom: 3.5rem;
}
.main_container p{
    padding: 0 2rem;
    line-height: 1.8rem;
    font-size: 1rem;
    font-weight:500;
    padding-bottom: 2rem;
}
.button{
    font-weight: 700;
    border-radius: 2rem;
    padding:1rem 1.8rem;
    margin: 1rem;
    border: solid var(--tb-dark) 1px;
}
#scarica{
    background-color: var(--tb-light);
    color: var(--tb-dark);
}
#apri{
    background-color: var(--tb-dark);
    color: var(--tb-light);
}

/* #endregion */

/* #region---secondary sections */
.s_section{
    background-color:var(--tb-light);
    height: 38rem;
}
.s_all_contain{
    color: var(--tb-dark);
    justify-content: space-between;
    align-items: center;
}
.img_cont{
    height: 25rem;   
}
.s_img{
    width: 35rem;
    aspect-ratio: 1/1;
    margin-top: -7.6rem;
    margin-left: -2rem;
}
.txt_cont{
    width: 20rem; 
    height: 25rem;    
}
.txt_cont h2{
    font-size: 2.5rem;
    font-weight:800;
    padding-bottom: 2.5rem;
}
.txt_cont p{
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight:600;
}
/* #endregion */

/* #region---PLACE section */

/* #endregion */

/* #region---MEET section */
#meet_section .s_all_contain {
    flex-direction: row-reverse;
}
#meet_section{
    margin-top: -10px;
    background-color:var(--tb-card-lightgrey);
}
/* #endregion */

/* #region---FANDOM section */
/* #endregion */

/* #region---last section */
.last_section{
    margin-top: -10px;
    color: var(--tb-dark);
    background-color: var(--tb-card-lightgrey);
    height: 75rem;
    justify-content: center;
}
.last_container{
    text-align: center;
    width: 65%;
    height: 45rem;
}
.last_container h2{
    font-size: 2.5rem;
    font-weight:800;
    padding: 8rem 0 1.5rem 0;
}
.last_container p{
    margin: 0 2rem;
    line-height: 1.7rem;
    font-size: 1rem;
    font-weight:600;
}
.ls_img{
    width: 100%;
}
.last_container h3{
    font-size: 1.6rem;
    font-weight:800;
    padding: 5rem 0 1.5rem 0;
}
#v_button{
    background-color:var(--tb-txt-violet) ;
    color: var(--tb-light);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
}
/* #endregion */

/* #endregion---main */


/* #region---footer */

footer{
    height: 36rem;
    background-color: var(--tb-dark);
    flex-direction: column;
}

.top_footer{
    flex-grow: 2;
}


#container{
    margin-top: 0.8rem;
}
.col{
    flex-grow: 1;
    height: 26rem;
}
#main_column{
    width: 15%;
    flex-grow: 2;
}

footer h4, footer li{
    padding: 0.4rem;
    font-size: 0.8rem;
}
footer h4{    
    color: var(--tb-txt-violet);
    font-weight: 700;
}
footer li{    
    list-style: none;
    color: var(--tb-light);
    font-weight: 600;
}

footer h3{
    color: var(--tb-txt-violet);
    font-size: 1.7rem;
    padding-bottom: 0.6rem;
}
.language, .social{
    line-height: 1rem;
    padding: 0.6rem 0;
    color: var(--tb-light);
}
footer img{
    height: 0.8rem;
}
div i{
    padding-right: 0.8rem;
    font-size: 1.2rem;
}

.bot_footer{
    height: 6rem; 
}
#logo_bottone{
    border-top: 1px solid white;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}
.l_f, .bottone_footer{
    width: 4rem;
    height: 1.5rem;
}
.logo_footer{
    height: 2rem;
}
.reg_botton{
    background-color: var(--tb-txt-violet);
    padding: .6rem;
    font-size: .8rem;
    border-radius: 1rem;
    margin-left: -14px;
    color: var(--tb-light);

}

.wave_a{
    color: var(--tb-light);
    background-color: var(--tb-card-lightgrey);
}

.wave_b{
    color: var(--tb-card-lightgrey);
    background-color: var(--tb-light);
}





/* #endregion*/




